# don't build "feature" branches
skip_branch_with_pr: true
branches:
  # whitelist
  only:
    - master

# Build worker image (VM template)
image: Visual Studio 2017

# since we're pushing releases we don't want infinite recursion
# because the release pushes a tag, hence we aren't building on tags
skip_tags: true

platform:
  - x86
  - x64

configuration:
  - Debug
  - Release

environment:
  VCPKG_DIR: C:\tools\vcpkg
  TRIPLET_NAME: $(PLATFORM)-windows-static
  BUILD_TYPE: Debug

for:
- matrix:
    only:
      - platform: x64
  init:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
- matrix:
    only:
      - platform: x86
  init:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars32.bat"
- matrix:
    only:
      - configuration: Release
  environment:
    BUILD_TYPE: MinSizeRel

install:
  #- git submodule update --init --recursive
  - ps: |
      # this gets the latest release of RadialGM-deps using GitHub API
      $apiURL = "https://api.github.com/repos/enigma-dev/radialgm-deps/releases/latest"
      $latest = Invoke-RestMethod -Method Get -Uri $apiURL
      # find the asset whose name matches the architecture of this build
      $depsName = "rgmdeps-$env:platform.zip"
      foreach ($asset in $latest.assets) {
        Write-Host $asset.name
        if ($asset.name -eq $depsName) {
          $depsURL = $asset.browser_download_url
          break
        }
      }
      Write-Host $depsURL

      # download and extract the deps matching this job's architecture
      appveyor DownloadFile $depsURL -FileName $depsName
      7z e -mmt $depsName C:\tools\vcpkg\installed\$env:TRIPLET
  - exit 1
  #- appveyor DownloadFile %DEPSURL% -FileName vcpkgdeps.zip
  #- 7z e -mmt vcpkgdeps.zip -y -o%VCPKG_DIR%\installed\%TRIPLET_NAME%

build_script:
  - cd %APPVEYOR_BUILD_FOLDER%\Submodules\enigma-dev\CommandLine\protos
  - mkdir build && cd build
  - cmake -G "Visual Studio 15 2017 Win64" -DCMAKE_BUILD_TYPE=%BUILD_TYPE% -Dprotobuf_generate_IMPORT_DIRS="%VCPKG_DIR%\installed\%TRIPLET_NAME%\include" -DVCPKG_TARGET_TRIPLET=%TRIPLET_NAME% -DCMAKE_TOOLCHAIN_FILE="%VCPKG_DIR%\scripts\buildsystems\vcpkg.cmake" ..
  - cmake --build . --target install --config %BUILD_TYPE%
  - cd %APPVEYOR_BUILD_FOLDER%\Submodules\enigma-dev\CommandLine\libEGM
  - mkdir build && cd build
  - cmake -G "Visual Studio 15 2017 Win64" -DCMAKE_BUILD_TYPE=%BUILD_TYPE% -DVCPKG_TARGET_TRIPLET=%TRIPLET_NAME% -DCMAKE_TOOLCHAIN_FILE="%VCPKG_DIR%\scripts\buildsystems\vcpkg.cmake" ..
  - cmake --build . --target install --config %BUILD_TYPE%
  - cd %APPVEYOR_BUILD_FOLDER%
  - mkdir build && cd build
  - cmake -G "Visual Studio 15 2017 Win64" -DCMAKE_BUILD_TYPE=%BUILD_TYPE% -DVCPKG_TARGET_TRIPLET=%TRIPLET_NAME% -DCMAKE_TOOLCHAIN_FILE="%VCPKG_DIR%\scripts\buildsystems\vcpkg.cmake" ..
  - cmake --build . --target ALL_BUILD --config %BUILD_TYPE%
  - appveyor PushArtifact bin\%BUILD_TYPE%\RadialGM.exe -FileName RadialGM-Win32-$(CONFIGURATION)-$(PLATFORM).exe -DeploymentName RadialGM

deploy:
  release: RadialGM-v$(appveyor_build_version)
  provider: GitHub
  auth_token:
    secure: $(bot_push_on_green_token)
  artifact: RadialGM
  draft: false
  prerelease: false
  on:
    branch: master
