variables:
  vcpkgGitRef: 1be75a28bfce2084bb0b59ec92a6853f13d7be66 # Update this git ref to update vcpkg
  releasetag: 'RadialGM-$(Build.SourceVersion)'

jobs:
- job: CreateReleaseCandidate
  displayName: 'Create Release Candidate'
  timeoutInMinutes: 15
  steps:
    - task: GithubRelease@0 
      displayName: 'Create GitHub Release Candidate'
      inputs:
        gitHubConnection: github.com_EnigmaBot
        repositoryName: enigma-dev/RadialGM
        action: create
        tagSource: manual
        tag: '$(releasetag)'
        isDraft: true
        isPreRelease: true
    
- job: MINGW
  timeoutInMinutes: 360
  dependsOn: CreateReleaseCandidate
  pool:
    vmImage: windows-latest
  strategy:
    matrix:
      i686:
        MINGW_UPPER: MINGW32
        MINGW_LOWER: mingw32
        MINGW_ARCH: i686
      x86_64:
        MINGW_UPPER: MINGW64
        MINGW_LOWER: mingw64
        MINGW_ARCH: x86_64
  
  steps:
    - checkout: self
      submodules: true
      persistCredentials: true

    - script: |
        git clone https://github.com/msys2/msys2-ci-base.git %CD:~0,2%\msys64
        %CD:~0,2%\msys64\usr\bin\rm -rf %CD:~0,2%\msys64\.git
      displayName: Install MSYS2
    
    - script: |
        set PATH=%CD:~0,2%\msys64\usr\bin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
        %CD:~0,2%\msys64\usr\bin\pacman --noconfirm -Syyuu
      displayName: Update MSYS2
    
    - script: |
        set PATH=%CD:~0,2%\msys64\usr\bin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
        %CD:~0,2%\msys64\usr\bin\pacman --noconfirm --needed -S git base-devel mingw-w64-$(MINGW_ARCH)-toolchain mingw-w64-$(MINGW_ARCH)-cmake mingw-w64-$(MINGW_ARCH)-nsis mingw-w64-$(MINGW_ARCH)-protobuf mingw-w64-$(MINGW_ARCH)-grpc mingw-w64-$(MINGW_ARCH)-gflags mingw-w64-$(MINGW_ARCH)-yaml-cpp mingw-w64-$(MINGW_ARCH)-pugixml mingw-w64-$(MINGW_ARCH)-rapidjson mingw-w64-$(MINGW_ARCH)-boost mingw-w64-$(MINGW_ARCH)-qt5 mingw-w64-$(MINGW_ARCH)-qscintilla
        %CD:~0,2%\msys64\usr\bin\pacman --noconfirm -Scc
      displayName: Install Toolchain
    
    - script: |
        set PATH=C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
        %CD:~0,2%\msys64\usr\bin\sed -i "s|#CacheDir.*|CacheDir=/c/Users/%USERNAME%/AppData/Local/Temp|g" /etc/pacman.conf
        %CD:~0,2%\msys64\usr\bin\bash -lc "bash ci-build.sh MinSizeRel $(PWD)/cmake-package"
      displayName: 'Release Build'
      env:
        MSYSTEM: $(MINGW_UPPER)
        CHERE_INVOKING: yes
        MINGW_INSTALLS: $(MINGW_LOWER)
    
    - script: |
        set PATH=C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
        %CD:~0,2%\msys64\usr\bin\sed -i "s|#CacheDir.*|CacheDir=/c/Users/%USERNAME%/AppData/Local/Temp|g" /etc/pacman.conf
        %CD:~0,2%\msys64\usr\bin\bash -lc "bash ci-build.sh Debug $(PWD)/cmake-package"
      displayName: 'Debug Build'
      env:
        MSYSTEM: $(MINGW_UPPER)
        CHERE_INVOKING: yes
        MINGW_INSTALLS: $(MINGW_LOWER)
    
    - script: |
        mkdir package
        cd package
        cmake -G "MSYS Makefiles" ../cmake-package
        make package
      displayName: 'Package'
      
    - task: PublishBuildArtifacts@1
      displayName: 'Push Build Artifacts'
      inputs:
        pathtoPublish: '$(Build.SourcesDirectory)/RadialGM-MinGW-$(MINGW_ARCH).exe'
        artifactName: RadialGM-MinGW-$(MINGW_ARCH)
    
    - task: GithubRelease@0 
      displayName: 'Add MinGW to GitHub Release'
      inputs:
        gitHubConnection: github.com_EnigmaBot
        repositoryName: enigma-dev/RadialGM
        action: edit
        tagSource: manual
        tag: '$(releasetag)'
        isDraft: true
        isPreRelease: true
        assetUploadMode: replace
        assets: |
         $(Build.SourcesDirectory)/RadialGM-MinGW-$(MINGW_ARCH).exe 

- job: MSVC_64
  displayName: 'MSVC x86_64'
  dependsOn: CreateReleaseCandidate
  pool:
    vmImage: 'windows-latest'
  timeoutInMinutes: 250

  steps:
    - checkout: self
      submodules: true
      persistCredentials: true

    - task: Cache@2
      displayName: 'Cache VCPKG Artifacts'
      inputs:
        key: $(Build.SourcesDirectory)/msvc-x64-deps.txt | "$(vcpkgGitRef)" | "$(Agent.OS)"
        path: '$(Build.BinariesDirectory)/vcpkg'
    
    - task: run-vcpkg@0
      displayName: 'Run VCPKG'
      inputs:
        vcpkgArguments: "@$(Build.SourcesDirectory)/msvc-x64-deps.txt"
        vcpkgGitCommitId: $(vcpkgGitRef)
        vcpkgGitURL: https://github.com/microsoft/vcpkg.git

    - script: |
        set PATH=%PATH%;$(Build.BinariesDirectory)\vcpkg\installed\x64-windows\tools\qt5\bin\
        set VCINSTALLDIR=%ProgramFiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC
        "%VCINSTALLDIR%\Auxiliary\Build\vcvars64.bat"
        mkdir Release
        cd Release
        cmake -G "Visual Studio 16 2019" -A x64 -DCMAKE_INSTALL_PREFIX:PATH=../cmake-package -DCMAKE_BUILD_TYPE=MinSizeRel -DVCPKG_ROOT=$(Build.BinariesDirectory)\vcpkg -DVCPKG_TARGET_TRIPLET=x64-windows -DPROTOBUF_IMPORT_DIRS=$(Build.BinariesDirectory)\vcpkg\installed\x64-windows\include -DCMAKE_TOOLCHAIN_FILE=$(Build.BinariesDirectory)\vcpkg\scripts\buildsystems\vcpkg.cmake $(Build.SourcesDirectory)
        cmake --build . --config MinSizeRel
        cmake --install . --config MinSizeRel
      displayName: 'Release Build'
    
    - powershell: |
        Set-Item -Path Env:Path -Value ($Env:Path + ";$(Build.BinariesDirectory)\vcpkg\installed\x64-windows\debug\bin;$(Build.BinariesDirectory)\vcpkg\installed\x64-windows\bin;$(Build.BinariesDirectory)\vcpkg\installed\x64-windows\tools\qt5\debug\bin\")
        Set-Item -Path Env:VCINSTALLDIR -Value (${Env:ProgramFiles(x86)} + "\Microsoft Visual Studio\2019\Enterprise\VC")
        mkdir Debug
        cd Debug
        cmake -G "Visual Studio 16 2019" -A x64 -DCMAKE_INSTALL_PREFIX:PATH=$(Build.SourcesDirectory)/cmake-package -DCMAKE_BUILD_TYPE=Debug -DVCPKG_ROOT=$(Build.BinariesDirectory)\vcpkg -DVCPKG_TARGET_TRIPLET=x64-windows -DPROTOBUF_IMPORT_DIRS=$(Build.BinariesDirectory)\vcpkg\installed\x64-windows\include -DCMAKE_TOOLCHAIN_FILE=$(Build.BinariesDirectory)\vcpkg\scripts\buildsystems\vcpkg.cmake $(Build.SourcesDirectory) 
        cmake --build Debug --config Debug
        cmake --install Debug --config Debug
      displayName: 'Debug Build'
    
    - script: |
        mkdir $(Build.BinariesDirectory)/package
        cd $(Build.BinariesDirectory)/package
        cmake -G "Visual Studio 16 2019" -A x64 $(Build.SourcesDirectory)/cmake-package
        cmake --install . --config package
      displayName: 'Package'
      
    - task: PublishBuildArtifacts@1
      displayName: 'Push Build Artifacts'
      inputs:
        pathtoPublish: '$(Build.SourcesDirectory)/RadialGM-MSVC-x86_64.exe'
        artifactName: RadialGM-MSVC-x86_64
    
    - task: GithubRelease@0 
      displayName: 'Add MSVC to GitHub Release'
      inputs:
        gitHubConnection: github.com_EnigmaBot
        repositoryName: enigma-dev/RadialGM
        action: edit
        tagSource: manual
        tag: '$(releasetag)'
        isDraft: true
        isPreRelease: true
        assetUploadMode: replace
        assets: |
          $(Build.SourcesDirectory)/RadialGM-MSVC-x86_64.exe

- job: Arch
  displayName: 'Arch Linux'
  pool:
    vmImage: 'ubuntu-latest'

  steps:
    - checkout: self
      submodules: true
      persistCredentials: true
      path: RGM

    - bash: |
        set -e
        cd $(Build.BinariesDirectory)
        ARCH_URL=`curl -s http://mirrors.acm.wpi.edu/archlinux/iso/latest/ | egrep -o 'archlinux-bootstrap-([0-9._]+)-x86_64.tar.gz' | head -n1`
        echo http://mirrors.acm.wpi.edu/archlinux/iso/latest/$ARCH_URL
        curl http://mirrors.acm.wpi.edu/archlinux/iso/latest/$ARCH_URL -o arch.tar.gz
        sudo tar xzf arch.tar.gz
        sudo mount --bind ./root.x86_64/ ./root.x86_64/
        sudo cp -R  $(Build.SourcesDirectory) ./root.x86_64/RGM
        cat << EOF | sudo ./root.x86_64/bin/arch-chroot ./root.x86_64/
        echo 'Server = https://mirrors.kernel.org/archlinux/\$repo/os/\$arch' >> /etc/pacman.d/mirrorlist
        pacman-key --init 
        pacman-key --populate archlinux
        pacman -Sy --noconfirm base base-devel git gcc cmake protobuf grpc yaml-cpp pugixml rapidjson boost qt5 qscintilla-qt5
        EOF
      displayName: 'Bootstrap Archlinux'
    
    - bash: |
        set -e
        cd $(Build.BinariesDirectory)
        cat << EOF | sudo ./root.x86_64/bin/arch-chroot ./root.x86_64/
        cd RGM
        mkdir build
        cd build
        cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=MinSizeRel ..
        make
        make install
        cd ..
        git clean -fx
        EOF
      displayName: 'Release Build'
    
    - bash: |
        set -e
        cd $(Build.BinariesDirectory)
        cat << EOF | sudo ./root.x86_64/bin/arch-chroot ./root.x86_64/
        cd RGM
        mkdir build
        cd build
        cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Debug ..
        make
        make install
        cd ..
        git clean -fx
        EOF
      displayName: 'Debug Build'

- job: PublishRelease
  displayName: 'Publish Release'
  timeoutInMinutes: 15
  dependsOn:
    - MINGW
    - MSVC_64
  steps:
    - task: GithubRelease@0 
      displayName: 'Publish GitHub Release Candidate'
      inputs:
        gitHubConnection: github.com_EnigmaBot
        repositoryName: enigma-dev/RadialGM
        action: edit
        tagSource: manual
        tag: '$(releasetag)'
        assetUploadMode: replace
        isDraft: false
        isPreRelease: true
