pr:  # Trigger a build on every PR.
  branches:
    include:
      - '*'  # Must quote since "*" is a YAML reserved character
variables:
- template: azure-vars.yml  # Template reference

jobs:
- template: azure-jobs.yml  # Template reference
  parameters:
    submodule: true
